.hasBackground {
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.isGradient {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.1) 100%);
}

.isTransparent {
    opacity: 0.75;
}