// ensure that the backdrop image is centered and fills the hero section completey and responsively
.isPoster {
    background-position: center center;
    background-repeat: no-repeat !important;
    background-size: cover;
}